.container {
  position: relative;
}

.wrapper {
  box-sizing: border-box;
  padding: 30px 40px;
  width: calc(100% - 120px);
  position: absolute;
  margin-left: 120px;
  margin-top: 76px;
  background-color: #faf7f7;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonCircle {
  border-radius: 50%;
  border: 1px solid  #9B9B9B;
  background-color:  #9B9B9B;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  color: white;
  margin-right: 22px;
}

.buttonDotted {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px dashed #9B9B9B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
}

.columnsWrapper {
  padding-top: 30px;
  display: flex;
  overflow-x: scroll;
}

.columnWrapper {
  background-color: #faf7f7;
  margin-right: 40px;
  margin-left: 2px;
  margin-bottom: 2px;
  height: 100%;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  box-shadow: 0px 0px 10px #D2D7E0;
  border-radius: 5px;
}

.buttonPlusCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(127,175,249,1) 0%, rgba(115,178,248,1) 50%, rgba(101,182,247,1) 100%);
}

.innerButton {
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.modalInput {
  border-radius: 0;
}

.modalButton {
  background: linear-gradient(90deg, #9EA7FC 0%, #65B6F7 124.87%);
  border-radius: 0;
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  padding: 10px ;
position: absolute;
  bottom: 20px;
  right: 20px;
}
