.signIn {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.buttonColor {
  background: linear-gradient(134.34deg, #9EA7FC 0%, #65B6F7 114.98%);
  border-radius: 25px;
  padding: 15px 20px;
  color: white;
}

.hr {
  height: 2px;
  margin: 60px 0 50px 0;
  background: linear-gradient(134.34deg, #9EA7FC 0%, #65B6F7 114.98%);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.forgotButton {
  color: black;
  text-transform: none;
  position: absolute;
  margin-right: 0;
}
