@import "src/assets/styles/typography";

.input {
  @include h4;

  width: 100%;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #b4b4cb;
  outline: none;
  margin-bottom: 15px;
  color: white;
}

.input::placeholder {
  @include h4;

  color: white;
}

.inputWrapper {
  display: flex;
  align-items: center;
}
