@import "src/assets/styles/typography";

.input {
  @include h4;

  width: 100%;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: #ebecf0;
  outline: none;
  margin-bottom: 15px;
  color: #888fdb;
}

.input::placeholder {
  @include h4;

  color: #c4c7ea;
}

.inputWrapper {
  display: flex;
  align-items: center;
}
