.button {
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  border: none;
  background-color: transparent;
}

.buttonColor {
  background-color: #C781FF;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
  width: 345px;
}