.column {
  width: 280px;
  border-radius: 5px;
}

.wrapperCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background-color: #faf7f7;
}

.title {
  padding: 18px 14px;
}

.button {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 16px;
  font-family: Roboto, serif;
  text-transform: none;
  color: #32325D;
  svg {
    margin-left: 6px;
    color: #32325D;
  }
}

.wrapperButton {
  padding-top: 10px;
  padding-bottom: 20px;
}

.divider {
  height: 4px;
  width: 100%;
  background-color: #9EA7FC;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: sticky;
  top: 0;
}

.wrapperTittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonHover:hover {
  background-color: rgba(204, 202, 192, 0.65);
  border-radius: 3px;
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
}

.dropDownWrapper {
  position: relative;
  margin-right: 15px;
}

.colorPicker {
  margin: 0 auto;
}

.labelButton {
  width: 100%;
  text-transform: none;
  padding: 0;
  display: flex;
  text-align: start;
  align-items: center;
  height: 40px;
  color: gray;

  svg{
    margin-right: 10px;
  }
}

.labelButton:hover {
  background-color: #ebecf0;
  border-radius: 3px;
}
