.low {
  background: linear-gradient(134.34deg, #9EA7FC 0%, #65B6F7 114.98%);
}

.med {
  background: linear-gradient(315.14deg, #81D5EE 0%, #7ED492 133.97%);
}

.high {
  background: linear-gradient(133.98deg, #C781FF -18.23%, #E57373 125.36%);
}

.tag {
  width: 85px;
  text-align: center;
  padding: 7px 8px;
  border-radius: 15px;
  color: white;
  border: 1px solid #9b9b9b;
}
