.card {
  width: 260px;
  border-radius: 5px;
  background-color: white;
}

.topSection {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 13px 10px;
}

.description {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 14px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.rightWrapper {
  display: flex;
  padding-bottom: 10px;
  .addIcon {
    padding-right: 10px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}

.buttonDotted {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px dashed gray;
  text-align: center;
}

.leftWrapper {
  display: flex;
}

.numberIcon {
  color: gray;
  font-size: 12px;
  padding-left: 3px;
}

.buttonCircle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid  #9B9B9B;
  text-align: center;
  background-color:  #9B9B9B;
}

.hoverButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(55, 53, 47, 0.65);
  fill: rgba(55, 53, 47, 0.65);
  box-shadow: rgb(15 15 15 / 10%) 0px 0px 0px 1px, rgb(15 15 15 / 10%) 0px 2px 4px;
  border-radius: 3px
}

.buttonHover:hover {
  background-color:  lightgrey;
  height: 100%;
}

.modalInput {
  border-radius: 3px;
}

.modalButton {
  background: linear-gradient(90deg, #9EA7FC 0%, #65B6F7 124.87%);
  font-size: 16px;
  color: white;
  box-sizing: border-box;
  padding: 10px ;
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 4px;
}

.red {
  background: darkred;
}

.modalDelete {
  min-height: 70px;
}

