.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(#181818FF, 0.7);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 500px;
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
}

.content {
  background-color: white;
  box-sizing: border-box;
  padding: 20px;
  min-height: 200px;
}
