.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}

.buttonColor{
  background-color: #C781FF;
  border-radius: 25px;
  padding: 15px 20px;
  font-size: 16px;
  color: white;
}