.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}

.buttonColor {
  background: linear-gradient(134.34deg, #9EA7FC 0%, #65B6F7 114.98%);
  border-radius: 25px;
  padding: 15px 20px;
  color: white;
}
