.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(134.34deg, #9EA7FC 0%, #65B6F7 114.98%);
}

.container {
  width: 100%;
  max-width: 525px;
  min-height: 620px;
  position: relative;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  padding-top: 120px;
  background-color: #ebecf0;
  border-radius: 20px;
}

.wrapper {
  box-sizing: border-box;
  padding-left: 70px;
  padding-right: 70px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
}

.button {
  width: 110px;

  &:first-child {
    margin-right: 40px;
  }
}

.hr {
  height: 2px;
  background: linear-gradient(134.34deg, #9EA7FC 0%, #65B6F7 114.98%);
  width: 110px;
  transition: transform 0.4s linear;
  display: inline-block;
  margin-bottom: 5px;
}

.loginForm {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 0 0 50px 0;
  top: 25%;
  perspective: 1000px;
  transition: all .4s linear;
  transform-style: preserve-3d;
  position: relative;
}
