// Roboto Normal

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 400;
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("ttf"),
  url("../fonts/Roboto/Roboto-Regular.eot") format("eot"),
  url("../fonts/Roboto/Roboto-Regular.otf") format("otf"),
  url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
}

// Roboto Bold

@font-face {
  font-family: 'Roboto Serif';
  font-weight: 700;
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("ttf"),
  url("../fonts/Roboto/Roboto-Bold.eot") format("eof"),
  url("../fonts/Roboto/Roboto-Bold.otf") format("otf"),
  url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),
  url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
}